@import './base';
@import './utility';
@import './colors';
@import 'components/header';
@import 'components/footer';
@import 'components/card';

.tag-list {
  list-style-type: none;
  line-height: 2em;
  position: relative;
  left: auto;
  right: auto;
}

.tag-list li {
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid #8ac4ff;
  border-radius: 8px;
  background-color: #8de4ff;
  margin: 10px;
  white-space: nowrap;
}

// .read-more-state {
//   display: none;
// }

// .read-more-target {
//   opacity: 0;
//   max-height: 0;
//   font-size: 0;
//   transition: 0.25s ease;
// }

// .read-more-state:checked ~ .read-more-wrap .read-more-target {
//   opacity: 1;
//   font-size: inherit;
//   max-height: 999em;
// }

// .read-more-state ~ .read-more-trigger:before {
//   content: 'Show Answer';
// }

// .read-more-state:checked ~ .read-more-trigger:before {
//   content: 'Hide Answer';
// }

// .read-more-trigger,
// .submit-button {
//   cursor: pointer;
//   display: inline-block;
//   padding: 6px 15px;
//   background-color: #8ff2ee;
//   font-size: 0.9em;
//   line-height: 2;
//   border: 1px solid #62d8d4;
//   border-radius: 0.25em;
//   text-align: center;
// }

#question,
#answer,
#tags {
  font-family: 'Roboto', sans-serif;
}

.create {
  text-align: center;
  margin-bottom: 80px;

  &__form {
    display: flex;
    flex-direction: column;

    &--input {
      margin: 10px 0 30px 0;
    }
  }

  &__label {
    font-weight: bolder;
  }
}

.submit-button {
  background-color: #8ff2ee;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 15px;
  margin: 50px 20px 20px 20px;
  font-size: 80%;
  cursor: pointer;
}

.logout {
  text-align: center;

  &__button {
    background-color: #8ff2ee;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 15px;
    font-size: 80%;
    cursor: pointer;
  }
}
.profile__intro {
  display: flex;
  &--image {
    border-radius: 50%;
    width: 150px;
    border: 4px solid white;
  }

  &--name {
    margin-left: 20px;
  }
}
