@import './base';
@import './utility';
@import './colors';
@import 'components/button';
@import 'components/header';
@import 'components/footer';

.card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  border-style: solid;
  border-color: grey;
  margin: 0 5px 60px 5px;
  position: relative;
}

.card__answer-container {
  text-align: center;
}

.tag-list {
  list-style-type: none;
  line-height: 2em;
  position: relative;
  left: auto;
  right: auto;
}

.tag-list li {
  display: inline;
  padding: 5px 20px;
  border: 1px solid #8ac4ff;
  border-radius: 8px;
  background-color: #8de4ff;
  margin-bottom: 30px;
  white-space: nowrap;
}

.header__headline {
  text-align: center;
  font-size: 250%;
}

.card__headline {
  font-weight: bolder;
}

.header__headline {
  text-transform: uppercase;
}
