.card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  border-style: solid;
  border-color: grey;
  margin: 0 20px 60px 20px;
  position: relative;
  box-shadow: 6px 4px 6px rgba(1, 57, 95, 0.2);

  &__headline {
    font-weight: bolder;
  }

  &__answer-button {
    background-color: #8ff2ee;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 15px;
    text-align: right;
    margin: 20px;
    font-size: 80%;
    cursor: pointer;
  }

  &__bookmark-button {
    position: absolute;
    top: 0;
    right: 1.5rem;
    height: 70px;
    width: 50px;
    -webkit-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    border-left: 25px solid grey;
    border-right: 25px solid grey;
    border-bottom: 25px solid white;

    &--active {
      border-left: 25px solid #0a5552;
      border-right: 25px solid #0a5552;
    }
  }
}
.card__answer-container {
  text-align: center;
}

.text-answer {
  text-align: left;
}
