.footer {
  background-color: #8ce5c4;
  padding: 15px;
  width: auto;
  margin: 20px 0 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  &__nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
}

.nav-icon {
  cursor: pointer;
  color: black;
  width: 40px;
  height: 40px;
  &__active {
    fill: black;
  }
}
