.tag-list {
  list-style-type: none;
  line-height: 2em;
  position: relative;
  left: auto;
  right: auto;
  padding: 0;
}

.tag-list li {
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid #8ac4ff;
  border-radius: 8px;
  background-color: #8de4ff;
  margin: 10px;
  white-space: nowrap;
}
