* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 112.5%;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
      18deg,
      rgb(2, 138, 156) 4%,
      rgba(1, 76, 115, 1) 33%,
      rgb(2, 138, 156) 4%,
      rgba(1, 122, 139, 1) 57%,
      rgba(1, 137, 146, 1) 62%,
      rgba(0, 255, 207, 1) 87%
    )
    fixed no-repeat;
  position: relative;
}

main {
  margin: 30px;
  height: 100%;
}
